---
import { getCollection, render } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { formatDateRange } from "@utils";
import config from "@config";

const [workCollection, projectsCollection] = await Promise.all([
  getCollection("work"),
  getCollection("projects"),
]);
const work = await Promise.all(
  workCollection
    .sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf())
    .slice(0, config.content.homepage.numWork)
    .map(async (item) => {
      const { Content } = await render(item);
      return { ...item, Content };
    }),
);
const projects = projectsCollection
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, config.content.homepage.numProjects);
---

<PageLayout
  title={config.meta.home.title}
  description={config.meta.home.description}
>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Nermin <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm a software engineer with a passion for web development and cloud
            infrastructure. I work at Rendr, where I develop Zendesk apps, build
            internal tools, and manage infrastructure.
          </p>
          <p class="animate">
            I have experience working with Javascript, Typescript, React, Go,
            and Terraform, building scalable web applications and backend
            systems. My strong background in cloud infrastructure, particularly
            on Google Cloud Platform, allows me to design and deploy reliable,
            serverless, and containerised workloads.
          </p>
          <p class="animate">
            I'm a <Link
              external={true}
              href="https://www.credly.com/badges/1db45e8a-5ba4-4a4b-b931-7793fa5062a8"
              >Google Cloud Certificate Associate Cloud Engineer</Link
            >, currently working toward my Professional Cloud Developer
            certification.
          </p>
          <p class="animate">
            In my free time, I've been deepening my understanding of data
            structures and algorithms, continuously improving my problem-solving
            skills. While I'm not an expert, I have a solid grasp of key
            concepts and apply them effectively in my development work.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Work</h5>
          <Link href="/work">See all work</Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((item) => (
              <li>
                <div class="text-sm opacity-75">
                  {formatDateRange(item.data.startDate, item.data.endDate)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {item.data.role}
                </div>
                <div class="text-sm opacity-75">{item.data.company}</div>
                <article>
                  <item.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Projects</h5>
          <Link href="/projects">See all projects</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>
      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            config.socials.map((social) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={social.href}
                  external
                  aria-label={`${config.site.name} on ${social.name}`}
                >
                  {social.name}
                </Link>
              </li>
            ))
          }
          <li class="flex gap-x-2 text-nowrap">
            <Link
              href={`mailto:${config.site.email}`}
              aria-label={`Email ${config.site.name}`}
            >
              {config.site.email}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
