---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import config from "@config";

const [blog, projects, work] = await Promise.all([
  getCollection("blog"),
  getCollection("projects"),
  getCollection("work"),
]);

const publishedPosts = blog
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, config.content.homepage.numPosts);

const publishedProjects = projects
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, config.content.homepage.numProjects);

const publishedWork = await Promise.all(
  work
    .sort(
      (a, b) =>
        new Date(b.data.dateStart).valueOf() -
        new Date(a.data.dateStart).valueOf(),
    )
    .slice(0, config.content.homepage.numWork)
    .map(async (item) => {
      const { Content } = await item.render();
      return { ...item, Content };
    }),
);
---

<PageLayout
  title={config.meta.home.title}
  description={config.meta.home.description}
>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Nerm <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">Paragraph 1</p>
          <p class="animate">Paragraph 2</p>
          <p class="animate">Paragraph 3</p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            publishedPosts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            publishedWork.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            publishedProjects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            config.socials.map((social) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={social.href}
                  external
                  aria-label={`${config.site.name} on ${social.name}`}
                >
                  {social.name}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${config.site.email}`}
              aria-label={`Email ${config.site.name}`}
            >
              {config.site.email}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
